<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <title>Secretaría de Economía</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Links -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/estilos-formularios.css" rel="stylesheet">
    <link rel="stylesheet" href="css/rd-mailform.css"/>


    <!--JS-->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>

    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src='js/device.min.js'></script>
  </head>


  <body>
  <div class="page">


  <main class="text-center">

      
  <section class="well1">
        <div class="margin-header container">

          <!--HEADER-->

          <header class="text-center" data-url="images/2-2.jpg" data-mobile="true" data-color="#dee7eb" data-speed="3">
          <section class="">

            <div id=" container" class="stuck_container">

              <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    
                  <nav class="navbar navbar-default">                    
                        <br>
                        <h1 class="col-md-6 logo">

                        <a href="index.html"><img class="img-float img-responsive" src="images/logo-municipio.png" alt="logo" /><!--texto--></a>
                        <div class="separador"><img class="img-float" src="images/separador-logos.png" alt="logo"/> </div>
                        <img class="img-responsive logo-economia" src="images/logo-economia.png" alt="logo" />
                        </h1>                     
                        <div class="margintop1 nav-shadow"></div>
                  </nav>

                </div>

              </div>

            </div>

          </section>
          </header>


       <!--FIN HEADER-->


       <!--CONTENIDO-->

          <section class="margensuperior2">          
                  <div class="row">           
                      <div class="col-md-6 col-sm-10 col-md-offset-3">
                          <div class="col-md-12">
                              <form class='rd-mailform' method="post" action="bat/rd-mailform.php" data-type="contact">

                                  <div class="form-group" style="margin-top: 6px;" >
                                      <label  data-add-placeholder>
                                          <input 
                                                placeholder="Nro de Proveedor:"
                                                type="text">
                                      </label>
                                  </div>

                                  <div class="form-group" style="margin-top: 6px;">
                                      <label data-add-placeholder>
                                          <input
                                                placeholder="Usuario:"
                                                type="text">
                                      </label>
                                  </div>

                                  <div class="form-group" style="margin-top: 6px;">
                                      <label data-add-placeholder>
                                          <input                          
                                                type="password"
                                                placeholder="Password:"
                                                >
                                      </label>
                                  </div>

                              </form>
                          </div>   
                      </div>
                  </div>

                  <div  class="row">
                    <div class="col-md-6 col-sm-6 col-md-offset-3">
                  
                          <div class="col-md-12 col-sm-6" >

                          <div class="margintop btn-float">
                              <button class="btn btn-primary" type="submit">Iniciar sesion</button>
                          </div>

       
                          <div class="margintop btn-float" style="margin-left: 11px;">
                              <button class="btn btn-primary" type="submit">Restablecer</button>
                          </div>
              

                          <div class="margintop btn-float" style="margin-left: 11px;">
                              <button class="btn btn-primary" type="submit">Salir</button>                              
                          </div>

                          </div>

                    </div>
                  </div>

          </section>

          <!--FIN CONTENIDO-->

     </div>
  </section>          

 </main>


  <!--========================================================
                            FOOTER
  =========================================================-->

  <footer>
    
    <section>      
      <div class="container-footer">
        <div class="row">
                
                <!-- Dirección y Núm -->
                <div class="col-md-4">
                    <div class="footer-headline"><h4>Dirección y Número de Contacto</h4></div>
                    <p>Municipalidad de Resistencia Av. Italia Nº 150 <br> Teléfono de Informes: (362) 4458201.</p>
                    <img src="images/logo-municipio-verde.png" class="client-logo-footer">
                </div>

                

                <!-- Donde Estamos? -->
                <div class="col-md-5">
                    <div class="footer-headline"><h4>Como Llegar?</h4></div>
                    <div id="mapa">
                    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1770.2446438431818!2d-58.981944791755865!3d-27.4540227949245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf1aba11591%3A0x14f9437cf41fbd30!2sAv.+Italia+150%2C+H3500CJO+Resistencia%2C+Chaco!5e0!3m2!1ses!2sar!4v1460757666099"
                     width="100%" height="" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>
                    </div>
                </div>

                <!-- Acceso Interno  -->
                <div class="col-md-3">
                    <div class="footer-headline"><h4><a href="#">Acceso Interno</a></h4></div>
                    
                    <!--<p>Keep updated with our news</p><p>Your email is safe with us!</p>
                    <div class="input-append">
                        <input  id="appendedInputButton"  type="text" class="span7" placeholder="Enter Email Address">
                        <button class="btn" type="button">Subscribe!</button>
                    </div>-->
                </div>
        </div>
      
      </div> 
    </section> 

  </footer>
            <div id="container-footer" class="container" style="background: #111;">
              <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom">
                        Todos los derechos reservados. © 2016 Se permite la reproducción del contenido citando la fuente.<a href="#"></a>

                            <div id="scroll-top-top"><a href="#" title="Volver al inicio"></a></div>
                        </div>
                    </div>
                </div>
            </div>

  </div>

  <!--<div style="height:1000px; background:#ccc;"></div>-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->         
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tm-scripts.js"></script>    
  <!-- </script> -->



  </body>
</html>
