body {
  background: url('../images/bg/bgcity-6.jpg') no-repeat;
  background-color: #78b94d;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
}

body.modal-open {
  margin-right: 17px !important;
}

button.btn:focus {
 outline: none !important;
} 

.btn-float {
  float: left;
}

.btn-primary:hover {
  color: #fff;
  background-color: #89be53;
  border-color: #79ad43;

}

h3,b {
    color: inherit;
    text-shadow: 0 2px 0 rgba(255, 255, 255,1);
}

.container {
  width: 89%;
  background-image: url("../images/bg/noise2.png");
  box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.2), 0 11px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 23px 29px 200px 29px;
}

.container-frm {
  width: 100%;
  background-color: rgba(8, 8, 8, 0.06);
  border-style: solid;
  border-width: 7px;
  border-color: #fff;
  padding: 23px 23px 23px 23px;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 14px 0 rgba(0, 0, 0, 0.18);
}

.container-footer{
  width: 89%;
  padding: 15px 15px 20px 27px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2b373d;
  -webkit-box-shadow: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px auto 0px auto;
}

#container-footer {
  width: 89%;
  background-image: url("../images/bg/noise2.png");
  box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.2), 0 11px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 23px 29px 0px 29px;
}

.client-logo-footer{
   margin-top: 15px;
    margin-left: 10px;
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all  0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.client-logo-footer:hover{

    filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all  0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.fecha {
  font-family: 'Carrois Gothic', sans-serif;
  float: right;
  margin-right: 5%;
  margin-top: 27px;
}

.footer-bottom {
	margin: -10px 0 15px;
}

.img-float {
  float: left;
}

.logo {
  margin: 9px 0 20px 25px;
}

.margensuperior1 {
  margin-top: 30px;
}

.margensuperior2 {
    margin-top: 65px;
}

.margintop {margin-top: 20px !important;}

.margintop1 {
  margin-top: 7px;
}

.modal {
  color: #616161;
}

.navbar {
    background-image: url(../images/header-fondo.png);
    padding-bottom: 20px;    
}

.navbar-default {
  background-color: #89be53;
  border: 1px solid #78caec;  
  box-shadow: 1px 0 0 0 #ececec inset,
              -1px 0 0 0 #ececec inset;
}

/* Menu Shadow */
.nav-shadow {
    width: 100%;
    height: 27px;
    background: url(../images/nav-shadow.png) no-repeat center top;
    background-size: 100% 100%;
    position: absolute;
    margin-top: 135px;
}

.margin-header {
  margin-top: 19px;
}

#scroll-top-top {
    position: absolute;
    right: -13px;
    bottom: 48px;
}

#scroll-top-top a {
    width: 35px;
    height: 35px;
    display: block;
    background-color: #111;
    background-image: url(../images/scroll-top-top.png);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#scroll-top-top a:hover {background-color: #333;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 1px;
  }
}

@media only screen and (max-width: 1190px) {
  .nav-shadow {
      display: none;
  }
}

@media only screen and (max-width: 680px) {

   .fecha {
    display: none;
  }  

  .separador {
      display: none;
  }

  .logo-economia {
    padding-top: 10px;
    margin-left: -3px;
    padding-right: 20px;
  }
   
  body .container {
    margin-top: 0;
      width: 100%;
  }

  .client-logo-footer{
    display: none;
  }
  
  .container-footer {
    width: 100%;
  }


  #container-footer {
    width: 100%;
  }

  .navbar {
    background-image: none;
    background-color: #89be53;
    padding-bottom: 0px;   
}

}


